<h1>WallText</h1>
<%= form_for(@walltext) do |f| %>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit "Commit" %>
  </div>
<% end %>
</form>

